@font-face { 
    font-family: "InterRegular";
    src: url("../fonts/InterRegular/InterRegular.eot");
    src: url("../fonts/InterRegular/InterRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterRegular/InterRegular.woff") format("woff"),
    url("../fonts/InterRegular/InterRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    font-family: "InterRegular";
    background-color: #E5E5E5;
}
.header {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 31px;
}
.logo img{

    width:29.33px;
    height:44px;
    margin-left:29.33px;
}
.logo_text {
    /*width:199px;
    height:27px;*/
    color:#212B31;
    font-family: 'Inter', sans-serif;
    margin-top: 8.5px;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: 400;

    font-size: 22px;
    line-height:26.63px;
    vertical-align: top;

}
.header, .header div, .header ul, .header button {
    display: flex;
    position: relative;
    

}
.header ul {
    margin-left:  130px;
    margin-right:  22px;
}
.tabs {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color:#72787D;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin-left: 22px;

    margin-top: 7.4px;
}

.button_demo {
    background-color:#212B31;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px #000000;
    padding: 9px 20px 9px 20px;
    width: 143px;
    height:34px;
    
    color:#E5E5E5;
    font-size: 15px;
    font-family: 'Arial';
    text-align: center;
    font-weight: 400;
    margin-right: 31px;
    /*margin-left: 31px;*/
    /*vertical-align: top;*/
   /* vertical-align: top;*/
}
/*
.header .left_tabs {
margin-left: 31px;
display: flex;
}*/