
*,*::before,*::after {
    box-sizing: border-box;
}
@font-face { 
    font-family: "InterRegular";
    src: url("../fonts/InterRegular/InterRegular.eot");
    src: url("../fonts/InterRegular/InterRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/InterRegular/InterRegular.woff") format("woff"),
    url("../fonts/InterRegular/InterRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    font-family: "InterRegular";
    background-color: #FFFFFF;
}

.section_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    margin-top: 26px;
    margin-left: 31px;
    margin-bottom: 26px;
    
}
.logo img{

    width:29.33px;
    height:44px;
    margin-left:29.33px;

}
.logo_text {

    color:#212B31;
    font-family: 'Inter', sans-serif;
    margin-top: 8.5px;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: 400;

    font-size: 22px;
    line-height:26.63px;
    vertical-align: top;


}
.header, .header div, .header ul, .header button {
    display: flex;
    position: relative;
}
.header ul {
    margin-left:  120px;
    margin-right:  22px;
}
.navbar {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color:#72787D;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin-left: 22px;

    margin-top: 7.4px;
}

.button_demo {
    background-color:#212B31;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px 0px #000000;
    padding: 9px 20px 9px 20px;
    width: 150px;
    height:34px;
    
    margin-right: 31px;
    color:#E5E5E5;
    
    font-size: 15px;
    font-family: 'Arial';
    text-align: center;
    font-weight: 400;
   
    margin-top: 7.4px;

}

.main{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    display: flex;
}
.title {
    width:850px;
    height:150px;
    margin-top:74px;
    /*margin-left:311px;*/

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    text-align : center;
    color: #212B31;

    padding-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    height:168px;
    padding-top: 15px;  
}
.button_demo_1{
    width: 172px;
    height: 50px;
    background-color:#212B31;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px 0px #000000;
    padding: 13px 25px 13px 25px;

    color:#FFFFFF;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  
}
.button_more{

    width: 172px;
    height: 50px;
    border-radius:4px;
    padding: 13px 25px 13px 25px;
    background-color:#FFFFFF;
    border: 1px solid #DADEDF;

    color: #212B31;
    font-family:  'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    margin-left: 16px;
}

.pictures_rectangle {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}
.Rectangle_2 {
    margin-top: 36px;
   /* margin-left: 64px;*/
}